body {
    background: rosybrown
}


.hidden {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.main-game-container {
    border: 1px black solid;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 200px;
    height: 200px;
    font-size: 72px;
}